@charset "UTF-8";

/* 基本設定 */
* {
  margin: 0;
}

img { 
  width: 100%;
  height: auto;
}

body {
  display: grid;
  /* 縦の設定 両サイド20pxの隙間 間1列*/
  grid-template-columns: 20px 1fr 20px;
  /* 横の設定 5分割する */
  grid-template-rows:
              [head] 100px
              [title] auto
              [sub] auto
              [recent] auto
              [foot] 100px;
  /* row-gapに対応していない古いブラウザ対応  */
  grid-row-gap: 20px;
  row-gap: 20px;
  font-family: san-serif;
}

/* パーツの配置 */
body > * {
  /* 前から2番目、後ろから2番目の間とする */
  grid-column: 2 / -2; 
}

/* ヘッダー */
header {
  grid-row: head;
  /* 横方向の中央 */
  justify-self: center;
  /* 縦方向の中央 */
  align-self: center;
  font-size: 40px;
  color: #555d6b;
}

/* ナビゲーションメニュー */
nav {
  grid-row: head;
  justify-self: center;
  align-self: end;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  /* 横一列にする */
  grid-auto-flow: column;
  grid-column-gap: 20px;
  column-gap: 20px;
}

nav a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

nav a:hover {
  color: #ef9504;
}

/* ヒーローイメージ */
figure.hero {
  grid-column: 1 / -1;
  grid-row: title / span 2;
}

figure.hero img {
  height: 547px;
  object-fit: cover;  /* 縦長表示をOFF 表示範囲で切り出す */
  vertical-align: bottom;
  filter: brightness(70%);
  z-index: -1;
  position: relative; /* Edge用の設定 */
}

/* タイトル */
h1 {
  grid-row: title;
  justify-self: center;
  align-self: center;
  color: #FFF;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.2;
  text-shadow: 0 0 5px #444;
  text-align: center;
}

/* サブタイトル */
p {
  grid-row: sub;
  text-align: center;
}

p a {
  color: #FFF;
  text-decoration: none;
  border: solid 1px #FFF;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(85, 93, 107, 0.5);
}

p a:hover {
  background-color: #ef9504;
}

p img {
  width: 250px;
}

/* 記事一覧 */
section {
  grid-row: recent;
}

/* フッター */
footer {
  grid-row: foot;
}